#dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

.dropdownRow {
    border-bottom: 2px solid #015fcc;
    border-left: 2px solid #015fcc;
    border-right: 2px solid #015fcc;
    cursor: pointer;
}

.dropdownRow:hover {
    background-color: rgba(233, 233, 233, 0.959);
}

#searchInput {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

input {
    border: 2px solid #015fcc;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    background: #fff;
    padding: 0 1.6rem;
    appearance: none;
    position: relative;
    height: 3rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}